<div class="align-items-center bg-black">
  <header class="navbar navbar-ut">
    <a class="navbar-brand" href="#">#UT<strong>Beyond</strong></a>
    <button class="btn btn-sm btn-link btn-refresh-ut" (click)="restartVote()" style="right: 32px"><i class="fa fa-history"></i></button>
    <button class="btn btn-sm btn-link btn-refresh-ut" (click)="refreshPage()"><i class="fa fa-refresh"></i></button>
  </header>

  <div class="animated fadeIn">
    <div class="row">
      <!-- question 1 -->
      <div class="col-sm-12" *ngIf="chosenQuestion.question_number == 1 && !answer1Answered">
        <h1 style="text-align: center;background-color: #20a8d8;margin: 0;padding: 10px;color: #fff;">Vote</h1>    
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Apa yang muncul di benak anda ketika mendengar kata “Digital” (jawab dalam satu kata)?</p>
              <form class="form-horizontal">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Tulis jawaban anda disini" [(ngModel)]="answer1" name="answer1">
                  </div>
                </div>
                <button type="submit" class="btn btn-md btn-vote-ut btn-primary" (click)="submitAnswer1()">Jawab</button>
              </form>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- question 2 -->
      <div class="col-sm-12" *ngIf="chosenQuestion.question_number == 2 && !answer2Answered">
        <h1 style="text-align: center;background-color: #20a8d8;margin: 0;padding: 10px;color: #fff;">Vote</h1>    
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Bisakah anda sukses tanpa menjadi Digital?</p>
              <button class="btn btn-md btn-vote-ut btn-primary" (click)="submitAnswer2('yes')"><i class="fa fa-check"></i> Ya</button>
              <button class="btn btn-md btn-vote-ut btn-danger" (click)="submitAnswer2('no')"><i class="fa fa-ban"></i> Tidak</button>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- question 3 -->
      <div class="col-sm-12" *ngIf="chosenQuestion.question_number == 3 && !answer3Answered">
        <h1 style="text-align: center;background-color: #20a8d8;margin: 0;padding: 10px;color: #fff;">Vote</h1>    
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Apakah UT sebaiknya berubah menjadi organisasi digital?</p>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-primary marginbottom" (click)="submitAnswer3('Ya, segera')">Ya, segera</button>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-info marginbottom" (click)="submitAnswer3('Tidak usah buru-buru')">Tidak usah buru-buru</button>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-danger marginbottom" (click)="submitAnswer3('Tunggu dan amati')">Tunggu dan amati</button>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- question 4 -->
      <div class="col-sm-12" *ngIf="chosenQuestion.question_number == 4 && !answer4Answered">
        <h1 style="text-align: center;background-color: #20a8d8;margin: 0;padding: 10px;color: #fff;">Vote</h1>    
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Apa dampak digitalisasi terhadap kehidupan kerja anda?</p>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-primary marginbottom" (click)="submitAnswer4('Akan mempersulit kehidupan kerja saya')">Akan mempersulit kehidupan kerja saya</button>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-success marginbottom" (click)="submitAnswer4('Akan membuat kehidupan kerja saya lebih efisien')">Akan membuat kehidupan kerja saya lebih efisien</button>
              <button class="col-sm-12 btn btn-md btn-vote-ut btn-danger marginbottom" (click)="submitAnswer4('Tidak ada perubahan')">Tidak ada perubahan</button>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- question 5 -->
      <div class="col-sm-12" *ngIf="chosenQuestion.question_number == 5 && !answer5Answered">
        <h1 style="text-align: center;background-color: #20a8d8;margin: 0;padding: 10px;color: #fff;">Vote</h1>    
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Bisakah kita hari ini berpegang teguh untuk melakukan “THINKING” digital dalam cara kita bekerja?</p>
              <button type="submit" class="btn btn-md btn-vote-ut btn-primary" (click)="submitAnswer5('yes')"><i class="fa fa-check"></i> Ya</button>
              <button type="reset" class="btn btn-md btn-vote-ut btn-danger" (click)="submitAnswer5('no')"><i class="fa fa-ban"></i> Tidak</button>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row" style="max-height: 81vh">
          <div class="col-sm-12" style="overflow-y: auto; margin: 10px 0 0 0">
            <div class="card card-success" style="border-radius: 10px; padding: 10px; width: 90vw; margin-bottom: 4px; color: #fff" *ngFor="let komen of komentars">
              <div class="card-body">
                {{komen.nama}}: {{komen.komentar}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- comment -->
      <div class="col-sm-12 mt-2" style="position: fixed; bottom: 0">
        <form>
          <div class="row">
            <div class="form-group col-12" style="margin-bottom: 5px" *ngIf="!namaExist">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Masukan nama anda." [(ngModel)]="nama" name="nama" style="border-radius: 100px;height: 42px;">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-secondary" type="button" data-toggle="modal" data-target="#exampleModal" style="border-radius: 100px" [disabled]="!nama" (click)="saveName(nama)"><i class="fa fa-send" style="position: absolute;right: 13px;bottom: 13px;"></i></button>
                </span>
              </div>
            </div>
            <div class="form-group col-12" style="margin-bottom: 5px" *ngIf="namaExist">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-info" style="border-radius: 100px;" (click)="changeName()"><i class="fa fa-edit" style="position: absolute;left: 13px;bottom: 13px;"></i></button>
                </span>
                <input type="text" class="form-control" placeholder="Halo {{nama}}, silahkan masukkan komentar..." [(ngModel)]="komentar" name="komentar" style="border-radius: 100px;height: 42px;">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-secondary" type="button" data-toggle="modal" data-target="#exampleModal" style="border-radius: 100px" [disabled]="!komentar" (click)="comment(komentar)"><i class="fa fa-send" style="position: absolute;right: 13px;bottom: 13px;"></i></button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
