<div class="align-items-center bg-black">
  <header class="navbar navbar-ut">
    <a class="navbar-brand" href="#">#UT<strong>Beyond</strong></a>
  </header>

  <div class="animated fadeIn">
    <div class="row">
      <!-- question 1 -->
      <div class="col-sm-12">
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">What comes to your mind when you hear the word “Digital” (answer in one word)? </p>
              <form class="form-horizontal">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Tulis jawaban anda disini">
                  </div>
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
              </form>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- question 2 -->
      <div class="col-sm-12">
        <div class="card card-inverse card-warning text-center card-ut">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p class="question-ut">Can you become successful without being Digital?</p>
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Yes</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> No</button>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-2">Audience</h1>
          <h4 class="pt-1">This is audience page.</h4>
          <p class="text-muted">Start changing your code.</p>
        </div>
        <div class="input-prepend input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
