<div class="align-items-center bg-black">
  <header class="navbar navbar-ut">
    <a class="navbar-brand" href="#">#UT<strong>Beyond</strong></a>
  </header>

  <div class="animated fadeIn">
    <!-- <div class="container no-padding"> -->
      <div class="row">
        <div class="col-md-6 no-padding">
          <div class="card card-warning text-center card-progressbar-ut">
            <div class="card-block">
              <div class="alert alert-info" role="alert">Event hari ini: <strong>Kick Off</strong></div>
              <div class="h4 m-0 title-hashtag-ut">#UTBeyond</div>
              <div>10 tweet lagi untuk memulai kick off!</div>
              <div class="progress progress-lg my-1">
                <div class="progress-bar bg-success progressbar-ut" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
              </div>
              <!-- <small class="text-muted">25%</small> -->
            </div>
          </div>
        </div>
        <div class="col-md-6 no-padding">
          <div class="col-md-12 no-padding">
            <div class="card card-success card-inverse text-center height-45vh" style="margin-bottom: 0">
              <div class="card-block">
                <h1>adfasf</h1>
              </div>
            </div>
          </div>
          <div class="col-md-12 no-padding">
            <div class="card card-primary card-inverse text-center height-45vh">
              <div class="card-block">
                <h1>adfasf</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
