<ng-container *ngIf="displayOff">
  <div class="animated fadeIn text-center" style="height: 100vh;display: grid;">
      <button class="btn btn-lg btn-warning" style="margin: 25% 40%;border-radius: 100px;font-size: 25px;color: #000" (click)="displayOff=!displayOff">KICK OFF WAVE 1</button>
  </div>
</ng-container>
<ng-container>
<div class="align-items-center bg-black">
  <header class="navbar navbar-ut">
    <a class="navbar-brand" href="#">#UT<strong>BEYOND</strong></a>
  </header>

  <div class="animated fadeIn" style="padding: 20px 0px 0px;">
    <!-- <div class="container no-padding"> -->
      <div class="row">
        
        <div class="col-md-6">
          <div class="col-md-12" style="margin-bottom: 2vh">
            <div class="card card-poll" style="margin-bottom: 0; height: 48vh">
              <div class="card-body">
                <div class="animated fadeIn" *ngIf="current_poll == 1">
                  <div class="card" style="width: 100%;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Satu kata yang mendeskripsikan "DIGITAL" bagi anda</h5>
                      <angular-tag-cloud
                        [(data)]="dataAnswer1"
                        [width]="options.width"
                        [height]="options.height"
                        [overflow]="options.overflow">
                      </angular-tag-cloud>
                    </div>
                  </div>
                </div>
                <div class="animated fadeIn" *ngIf="current_poll == 2">
                  <div class="card card-inverse" style="width: 100%;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Menurut anda, seberapa URGENT Digital Transformation bagi UT?</h5>
                      <div class="question2chart">
                        <canvas baseChart
                                style="display: block; height: 300px"
                                [data]="doughnutChart2Data"
                                [labels]="doughnutChart2Labels"
                                [options]="doughnutChartOptions"
                                [chartType]="doughnutChart2Type"
                                [colors]="doughnutChart2Colors">
                        </canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="animated fadeIn" *ngIf="current_poll == 3">
                  <div class="card card-inverse" style="width: 100%;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Bagaimana perasaan anda terkait dimulainya digitalization di UT?</h5>
                      <div class="question2chart">
                        <canvas baseChart
                        style="display: block; height: 300px"
                        [data]="doughnutChart3Data"
                        [labels]="doughnutChart3Labels"
                        [options]="doughnutChartOptions"
                        [chartType]="doughnutChart3Type"
                        [colors]="doughnutChart2Colors">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeIn" *ngIf="current_poll == 4">
                  <div class="card card-inverse" style="width: 100%;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Apakah kita semua berkomitmen untuk mensukseskan UT Digitalization?</h5>
                      <div class="question2chart">
                        <canvas baseChart
                        style="display: block; height: 300px"
                        [data]="doughnutChart4Data"
                        [options]="doughnutChartOptions"
                        [labels]="doughnutChart4Labels"
                        [chartType]="doughnutChart4Type"
                        [colors]="doughnutChart2Colors">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col">
                    <button class="btn btn-operate btn-warning btn-secondary" type="button" (click)="previous()" [disabled]="current_poll == 1"><i style="font-size: 25px" class="fa fa-chevron-left"></i></button>
                  </div>
                  <div class="col text-right">
                    <button class="btn btn-operate btn-warning btn-secondary" type="button" (click)="next()" [disabled]="current_poll == 5"><i style="font-size: 25px" class="fa fa-chevron-right"></i> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card text-center card-progressbar-ut">
            <div class="card-block">
              <div class="h4 m-0 title-hashtag-ut"><span style="color: #ffdc00">#UT</span>BEYOND</div>
              <ng-container *ngIf="!showReadyKickOff">
              <div style="color: white"><span style="color: #ffda1d">{{sisaKomentar}}</span> komentar lagi untuk memulai kick off!</div>
              <div class="progress progress-lg my-1">
                <div class="progress-bar progress-bar-striped progressbar-ut" role="progressbar" [ngStyle]="{'width': persenKomentar + '%'}" attr.aria-valuenow="{{persenKomentar}}" aria-valuemin="0" aria-valuemax="100"></div>
                <label><h4 style="color: #ffda1d">{{persenKomentar}}%</h4></label>
              </div>
              <div style="color: white"><span style="color: #ffda1d"><strong>{{komentars.length}}</strong></span> komentar & <span style="color: #ffda1d"><strong>{{participants}}</strong></span> partisipan polling</div>
              <small class="text-muted" (click)="clickSetTarget()">Atur target</small>
              
            </ng-container>
            <ng-container *ngIf="showReadyKickOff">
              <button class="btn btn-lg btn-success" style="width: 100%;margin-top: 20px;margin-bottom: 10px;border-radius: 100px;" (click)="displayOff=!displayOff">Ready to kick off!</button>
              <p>{{komentars.length}} komentar terkumpul</p>
              <small class="text-muted" (click)="clickSetTarget()">Atur target</small>
            </ng-container>
            <div class="card-footer" *ngIf="displayInputTarget">
                <form>
                  <div class="row">
                    <div class="col-11">
                      <input type="text" class="form-control" placeholder="Tulis target..." aria-label="Search for..." [(ngModel)]="komenTarget" name="komenTarget">
                    </div>
                    <div class="col-1">
                      <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#exampleModal" (click)="setTarget()"><i class="fa fa-send"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-right: 15px">
          <div class="card comment-section" style="height: 90vh">
              <div class="card-header">
                <h5>Komentar</h5>
              </div>
              <div class="card-block" style="overflow-y: auto">
                <div class="card comment" *ngFor="let komentar of komentars">
                  <div class="card-body">
                    <p class="card-text"><i class="fa fa-comment"></i> {{komentar.nama}}</p>
                    <h5 class="card-title">{{komentar.komentar}}</h5>
                  </div>
                </div>
              </div>
              
            </div>

          
        </div>
      </div>
  </div>
</div>
</ng-container>
