<div *ngIf="showAlertSuccessNewContent" class="alert alert-success" role="alert">New content created</div>
<div *ngIf="showAlertSuccessEditContent" class="alert alert-success" role="alert">Content updated succesfully</div>
<div *ngIf="showAlertSuccessDeleteContent" class="alert alert-success" role="alert">Content deleted</div>

<div class="animated fadeIn" *ngIf="!showEditContent">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <!-- <i class="fa fa-align-justify"></i> Semua table -->
          All contents
          <button class="btn btn-outline-primary pull-right" type="button" style="margin-top: 5px" [routerLink]="['/contents/add-content']"><i class="fa fa-plus"></i>&nbsp; Add new</button>
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Title</th>
                <!-- <th>Description</th> -->
                <th>Category</th>
                <th>Sub Category</th>
                <!-- <th>Featured</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let content of contents;">
                <ng-container *ngFor="let c of content.data">
                  <tr>
                    <!-- news -->
                    <td *ngIf="c.title && content.category=='News'">{{c.title}}</td>
                    <!-- place -->
                    <td *ngIf="c.place_name && content.category=='Places'">{{c.place_name}}</td>
                    <!-- transport -->
                    <td *ngIf="c.transport_name && content.category=='Public Transport'">{{c.transport_name}}</td>
                    <!-- emergency -->
                    <td *ngIf="c.emergency_name && content.category=='Emergency Contacts'">{{c.emergency_name}}</td>
                    <!-- event -->
                    <td *ngIf="c.event_title && content.category=='Events'">{{c.event_title}}</td>
                    <!-- <td>{{c.description}}</td> -->
                    <td>{{content.category}}</td>
                    <td>{{c.category}}</td>
                    <!-- <td *ngIf="!c.featured">No</td> -->
                    <!-- <td *ngIf="c.featured">Yes</td> -->
                    <td>
                      <div class="row" style="padding: 0 5px">
                        <a class="btn btn-link btn-sm col-md-6" (click)="willEditContent(content,c)"><i class="icon-pencil"></i></a>
                        <a class="btn btn-link btn-sm col-md-6" data-toggle="modal" (click)="dangerModal.show(); willDeleteContent(content,c)"><i class="icon-close"></i></a>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
          <!-- <nav>
          <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> -->
  </div>
</div>
</div>
<!--/.col-->
</div>
<!--/.row-->
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">You are going to delete the content</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <p>One fine body&hellip;</p> -->
        <p>Content with this title will be deleted :</p>
        <h5>{{contentTitleWillBeDeleted}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteContent(content, c); dangerModal.hide()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Edit content -->
<div class="animated fadeIn" *ngIf="showEditContent">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Edit content
          <div class="card-actions">
            <!-- <a href="#" class="btn-setting"><i class="icon-settings"></i></a> -->
            <!-- <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a> -->
            <a href="#" class="btn-close" (click)="cancelEdit()"><i class="icon-close"></i></a>
          </div>
        </div>
        <div class="card-block">
          <form class="form-horizontal" (ngSubmit)="editContent()" #newContentForm="ngForm">
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" name="category" [(ngModel)]="dataContentToBeEdited.category" required="true" disabled>
                <option>Please select</option>
                <option>News</option>
                <option>Place</option>
                <option>Public Transport</option>
                <option>Emergency Contact</option>
                <option>Event</option>
              </select>
            </div>

            <!-- News -->
            <ng-container *ngIf="dataContentToBeEdited.category==='News'">
              <div class="form-group">
                <label for="sub-category">Sub Category</label>
                <input type="text" class="form-control" id="sub-category" name="sub-category" *ngIf="new_category" [(ngModel)]="news.sub_category" required="true">
                <select class="form-control" id="sub-category" name="sub-category" *ngIf="!new_category" [(ngModel)]="news.sub_category" required="true" (change)="onChange()">
                  <option disabled selected value="null">Please select</option>
                  <option *ngFor="let c of sub_category.news">{{c}}</option>
                  <option value="Please type new category">Create new</option>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter your title here" name="title" [(ngModel)]="news.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="9" class="form-control" placeholder="Enter your description here" [(ngModel)]="news.description" required="true"></textarea>
              </div>
              <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Enter author name" name="author" [(ngModel)]="news.author" required="true">
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-multiple-input">Add Photo or Image</label>
                <div class="col-md-9">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" (change)="newsImageEdited($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <img id="newsImage" width="300" [src]="news.image" alt="" class="img-responsive" style="margin-bottom: 10px">
                  <!-- <img id="newsImageAfter" width="300" src="" alt="" class="img-responsive" style="display: none;"> -->
                </div>
              </div>
              <!-- {{uploadedImages}} -->
              <!-- <div class="form-group row">
                <label class="col-md-3 form-control-label">Push Notification</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Featured Post</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked name="featured" [(ngModel)]="news.featured">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Event -->
            <ng-container *ngIf="dataContentToBeEdited.category==='Event'">
              <div class="form-group">
                <label for="sub-category">Sub Category</label>
                <input type="text" class="form-control" id="sub-category" name="sub-category" *ngIf="new_category" [(ngModel)]="event.sub_category" required="true">
                <select class="form-control" id="sub-category" name="sub-category" *ngIf="!new_category" [(ngModel)]="event.sub_category" required="true" (change)="onChange()">
                  <option disabled selected value="null">Please select</option>
                  <option *ngFor="let c of sub_category.event">{{c}}</option>
                  <option value="Please type new category">Create new</option>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter your title here" name="title" [(ngModel)]="event.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="9" class="form-control" placeholder="Enter your description here" [(ngModel)]="event.description" required="true"></textarea>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter event price here" name="price" required="true" [(ngModel)]="event.ticket_price">
              </div>
              <div class="form-group">
                <label for="place">Place</label>
                <input type="text" class="form-control" id="place" placeholder="Enter place name here" name="place" required="true" [(ngModel)]="event.place_name">
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="long">Geolocation Latitude</label>
                  <input type="number" step="any" class="form-control" id="lat" placeholder="-6.6163830000" name="lat" required="true" [(ngModel)]="event.geolocation.lat">
                </div>
                <div class="col-lg-6">
                  <label for="long">Geolocation Longitude</label>
                  <input type="number" step="any" class="form-control" id="long" placeholder="106.8108530000" name="long" required="true" [(ngModel)]="event.geolocation.lng">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="starttime">Start Date and Time</label>
                  <input type="datetime-local" class="form-control" id="starttime" name="starttime" required="true" [(ngModel)]="event.start_date">
                </div>
                <div class="col-lg-6">
                  <label for="endtime">End Date and Time</label>
                  <input type="datetime-local" class="form-control" id="endtime" name="endtime" required="true" [(ngModel)]="event.end_date">
                </div>
              </div>
              <div class="form-group">
                <label for="contactperson">Contact Person</label>
                <input type="tel" class="form-control" id="contactperson" placeholder="Enter contact person here" name="contactperson" required="true" [(ngModel)]="event.contact_person">
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-multiple-input">Add Photo or Image</label>
                <div class="col-md-9">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" multiple (change)="eventImageEdited($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <img id="eventImage" width="300" [src]="event.image" alt="" class="img-responsive" style="margin-bottom: 10px">
                  <!-- <img id="newsImageAfter" width="300" src="" alt="" class="img-responsive" style="display: none;"> -->
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 form-control-label">Push Notification</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Featured Post</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" name="featured" checked [(ngModel)]="event.featured">
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Place -->
            <ng-container *ngIf="dataContentToBeEdited.category==='Place'">
              <div class="form-group">
                <label for="sub-category">Sub Category</label>
                <input type="text" class="form-control" id="sub-category" name="sub-category" *ngIf="new_category" [(ngModel)]="place.sub_category" required="true">
                <select class="form-control" id="sub-category" name="sub-category" *ngIf="!new_category" [(ngModel)]="place.sub_category" required="true" (change)="onChange()">
                  <option disabled selected value="null">Please select</option>
                  <option *ngFor="let c of sub_category.place">{{c}}</option>
                  <option value="Please type new category">Create new</option>
                </select>
              </div>
              <div class="form-group">
                <label for="title">Place name</label>
                <input type="text" class="form-control" id="title" placeholder="Enter place name here" name="title" [(ngModel)]="place.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="9" class="form-control" placeholder="Enter your description here" [(ngModel)]="place.description" required="true"></textarea>
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter event price here" name="price_range" [(ngModel)]="place.price_range" required="true">
              </div>
              <div class="form-group">
                <label for="address">Place Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter place address here" name="address" [(ngModel)]="place.address" required="true">
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="long">Geolocation Latitude</label>
                  <input type="number" step="any" class="form-control" id="lat" name="lat" [(ngModel)]="place.geolocation.lat" placeholder="-6.6163830000" required="true">
                </div>
                <div class="col-lg-6">
                  <label for="long">Geolocation Longitude</label>
                  <input type="number" step="any" class="form-control" id="long" name="long" [(ngModel)]="place.geolocation.lng" placeholder="106.8108530000" required="true">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="opentime">Open Date and Time</label>
                  <input type="time" class="form-control" id="opentime" name="opentime" [(ngModel)]="place.opentime">
                </div>
                <div class="col-lg-6">
                  <label for="closetime">Close Date and Time</label>
                  <input type="time" class="form-control" id="closetime" name="closetime" [(ngModel)]="place.closetime">
                </div>
              </div>
              <div class="form-group">
                <label for="contactperson">Contact Person</label>
                <input type="tel" class="form-control" id="contactperson" placeholder="Enter contact person here" name="contactperson" [(ngModel)]="place.contact_person" required="true">
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-multiple-input">Add Photo or Image</label>
                <div class="col-md-9">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" (change)="placeImageEdited($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <img id="placeImage" width="300" [src]="place.image" alt="" class="img-responsive" style="margin-bottom: 10px">
                  <!-- <img id="newsImageAfter" width="300" src="" alt="" class="img-responsive" style="display: none;"> -->
                </div>
              </div>
              <!-- <div class="form-group row">
                <div class="col-lg-6 row">
                  <label class="col-md-4 form-control-label" for="file-multiple-input">Add Photo</label>
                  <div class="col-md-8">
                    <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                  </div>
                </div>
                <div class="col-lg-6 row">
                  <label class="col-md-4 form-control-label" for="file-multiple-input">Add Menu or Flyer</label>
                  <div class="col-md-8">
                    <input type="file" id="file-multiple-input" name="file-multiple-input" multiple>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group row">
                <label class="col-md-3 form-control-label">Push Notification</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Featured Post</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" name="featured" [(ngModel)]="place.featured" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Public Transport -->
            <ng-container *ngIf="dataContentToBeEdited.category==='Public Transport'">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter your title here" name="title" [(ngModel)]="public_transport.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="9" class="form-control" placeholder="Enter detail route and description here" [(ngModel)]="public_transport.description" required="true"></textarea>
              </div>
              <div class="form-group">
                <label for="fare">Price</label>
                <input type="text" class="form-control" id="fare" placeholder="Enter event price here" name="fare" [(ngModel)]="public_transport.fare" required="true">
              </div>
              <div class="form-group">
                <label for="route">Route Start and End</label>
                <input type="text" class="form-control" id="route" placeholder="Enter route here" name="route" [(ngModel)]="public_transport.route" required="true">
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="opentime">Start Operation Time</label>
                  <input type="time" class="form-control" id="opentime" name="start_operation" [(ngModel)]="public_transport.start_operation">
                </div>
                <div class="col-lg-6">
                  <label for="closetime">End Operation Time</label>
                  <input type="time" class="form-control" id="closetime" name="end_operation" [(ngModel)]="public_transport.end_operation">
                </div>
              </div>
              <div class="form-group">
                <label for="contactperson">Contact Person</label>
                <input type="tel" class="form-control" id="contactperson" placeholder="Enter contact person here" name="contactperson" [(ngModel)]="public_transport.contact_person">
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-multiple-input">Add Photo or Image</label>
                <div class="col-md-9">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" multiple (change)="publicTransportImageEdited($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <img id="publicTransportImage" width="300" [src]="public_transport.photos" alt="" class="img-responsive" style="margin-bottom: 10px;">
                  <!-- <img id="newsImageAfter" width="300" src="" alt="" class="img-responsive" style="display: none;"> -->
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 form-control-label">Push Notification</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Featured Post</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" name="featured" [(ngModel)]="public_transport.featured" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- Emergency Contact -->
            <ng-container *ngIf="dataContentToBeEdited.category==='Emergency Contact'">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter your title here" name="title" [(ngModel)]="emergency_contact.title" required="true">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="9" class="form-control" placeholder="Enter your description here" [(ngModel)]="emergency_contact.description"></textarea>
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter address here" name="address" [(ngModel)]="emergency_contact.address" required="true">
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="lat">Geolocation Latitude</label>
                  <input type="number" step="any" class="form-control" id="lat" name="lat" [(ngModel)]="emergency_contact.geolocation.lat" placeholder="-6.6163830000" required="true">
                </div>
                <div class="col-lg-6">
                  <label for="long">Geolocation Longitude</label>
                  <input type="number" step="any" class="form-control" id="long" name="lng" [(ngModel)]="emergency_contact.geolocation.lng" placeholder="106.8108530000" required="true">
                </div>
              </div>
              <div class="form-group">
                <label for="telephone">Telephone</label>
                <input type="tel" class="form-control" id="telephone" placeholder="Enter contact person here" name="telephone" [(ngModel)]="emergency_contact.phone" required="true">
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="file-multiple-input">Add Photo or Image</label>
                <div class="col-md-9">
                  <input type="file" id="file-multiple-input" name="file-multiple-input" multiple (change)="emergencyContactImageEdited($event)">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                  <img id="emergencyContactImage" width="300" [src]="emergency_contact.emergency_images" alt="" class="img-responsive" style="margin-bottom: 10px;">
                  <!-- <img id="newsImageAfter" width="300" src="" alt="" class="img-responsive" style="display: none;"> -->
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 form-control-label">Push Notification</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Featured Post</label>
                <div class="col-md-9">
                  <div class="checkbox">
                    <label class="switch switch-3d switch-primary">
                      <input id="featured" name="featured" [(ngModel)]="emergency_contact.featured" type="checkbox" class="switch-input" checked>
                      <span class="switch-label"></span>
                      <span class="switch-handle"></span>
                    </label>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="form-actions">
              <button type="submit" class="btn btn-primary" [disabled]="!newContentForm.form.valid" *ngIf="!submitted">Save changes</button>
              <button type="submit" class="btn btn-primary" [disabled]="newContentForm.form.valid" *ngIf="submitted"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading</button>
              <button class="btn btn-default" type="button" (click)="cancelEdit()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
