// Here you can add other styles
.navbar-ut {
	background-color: #222 !important;
	border-bottom: 1px solid #000 !important;
	height: 10vh !important;

	.navbar-brand {
		background-image: none !important;
		background-color: inherit !important;
		border-bottom: 1px solid #000 !important;
		color: #ffdf00;
		font-size: 34px;
		height: inherit !important;
	}
	.btn-refresh-ut{
		position: absolute;
		right: 0;
		height: 100%;
		color: #fff;
		width: 50px;
	}
}

.card-ut{
	.question-ut{
		color: #000;
		font-size: 16px;
	}
}

.card-progressbar-ut{
	height: 90vh;
	.title-hashtag-ut{
		margin-top: 30% !important;
		font-size: 50px;
		font-weight: 300;
	}
	.progressbar-ut{
		text-align: right;
	}
}

.btn-vote-ut{
	white-space: pre-line;
}

.marginbottom{
	margin-bottom: 10px !important;
}

.height-45vh{
	height: 45vh;
}

.no-padding{
	padding: 0;
}

.form-check-label{
	color: #25303f;
}

.card-header {
	color: #25303f;
}

.row > div {
	padding: 0;
}

.bg-black {
	.row {
		margin: 0;
	}
}
