// Here you can add other styles
.navbar-ut {
	background-color: #222 !important;
	border-bottom: 1px solid #000 !important;
	height: 10vh !important;

	.navbar-brand {
		background-image: none !important;
		background-color: inherit !important;
		border-bottom: 1px solid #000 !important;
		color: #ffdf00;
		font-size: 34px;
		height: inherit !important;
	}
}

.card-ut{
	.question-ut{
		color: #000;
		font-size: 16px;
	}
}

.card-progressbar-ut{
	height: 90vh;
	.title-hashtag-ut{
		margin-top: 30% !important;
		font-size: 50px;
		font-weight: 300;
	}

	.progress {
		border-radius: 20px;
		width: 80%;
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #efefef;
		position: relative;
		overflow: visible;

		label {
			position: absolute;
    		right: -60px;
		}
	}

	.progressbar-ut{
		height: 30px;
		border-radius: 20px;
	}
}

.card-poll {

	.card {
		position: absolute;
		height: 100%;
	}

	.card-footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		border: none;
		background: transparent;
	}

	.progressbar-poll {
		padding: 5px;
		border-radius: 15px;
		overflow: visible;
		position: relative;

		label {
			position: absolute;
    		right: -50px;
		}

		.progress-bar {
			height: 30px;
			border-radius: 10px;
		}
	}
}

.comment-section {
	.card-block .card-body {
		padding: 15px;
	}

	.card-footer .row > div {
		text-align: right;

		button {
			border: none;
			border-radius: 50px;
			width: 35px;
			height: 35px;
			padding: 0;
		}
	}
}

.height-45vh{
	height: 45vh;
}

.no-padding{
	padding: 0;
}

.form-check-label{
	color: #25303f;
}

.card-header {
	color: #25303f;
}

.row > div {
	padding: 0;
}

.bg-black {
	.row {
		margin: 0;
	}
}
